#map {
    height: 500px;
    width: 500px;
}

.map-icon {
  /* background-color: red; */
  background-color: transparent;
  /* border-radius: 50%; */
  display: flex;
  justify-content: center;
  align-content: center;
}
/*
.map-icon::after {
  content: 'p';
  
  background-color: green;
  width: 500px;
  height: 500px;
} */

/* .icon-test {
  background-color: red;
  width: 50px;
  height: 50px;
} */

.icon-test {
  position: inherit;
  top: -23px;
  border-radius: 50% 50% 50% 0;
  border: 10px solid #00000000;
  width: 9px;
  height: 9px;
  transform: rotate(-45deg);
}


/* 
.icon-test::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  background-color: #ffbb00;
} */